@model TransporteMaritimoSystem.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login Sistema Transporte Marítimo</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form asp-action="Login" method="post">

    <div>
        <label>Usuario</label>
        <input asp-for="sNombre" />
    </div>

    <div>
        <label>Contraseña</label>
        <input asp-for="sPassword" type="password" />
    </div>

    <br />

    <button type="submit">Ingresar</button>

</form>

