@{
    ViewData["Title"] = "Login";
}

<h2>Ingreso al Sistema</h2>

<form method="post">
    <div>
        <label>Email</label>
        <input type="text" name="Email" />
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="Password" />
    </div>

    <button type="submit">Ingresar</button>
</form>